

section(class="g-section menu")
	div(class="g-content g-content-menu")
		div(class="menu-titles")
			h3(class="menu__small-title") Категории
			h2(class="menu__main-title") Популярное меню
		div(class="menu-content-arrows")
			div(class="menu-content__l-arrow")
				svg(class="svg-left-chevron")
					use(xlink:href="#svg-left-chevron")
			div(class="menu-content__r-arrow")
				svg(class="svg-right-chevron")
					use(xlink:href="#svg-right-chevron")
		div(class="menu-content")
			div(class="cards-wrapper")
				include ../_blocks/_menuCards
			div(class="menu-content__line")
			div(class="card-content__dot")
				svg(class="svg-black-circle")
					use(xlink:href="#svg-black-circle")
				svg(class="svg-black-circle")
					use(xlink:href="#svg-black-circle")
				svg(class="svg-black-circle")
					use(xlink:href="#svg-black-circle")
				svg(class="svg-black-circle")
					use(xlink:href="#svg-black-circle")


