
block variables

<!DOCTYPE html>
html(lang="ru")
	include _blocks/_head.pug
	body
		div(id="svg_inline")
	
		include _blocks/_milestone_1_intro.pug
		include _blocks/_milestone_2_about.pug
		include _blocks/_milestone_3_cat.pug
		include _blocks/_milestone_4_galery.pug
		include _blocks/_milestone_5_menu.pug
		include _blocks/_milestone_6_test.pug
		include _blocks/_milestone_7_footer.pug

		













