mixin IntroCards(image_url, name, category, testimonials)
	- mod = mod || ''
		div(class="item card")
			div(class="intro-card-img-wrap")
				img(class="intro-cards__image card-img-top" src="images/" + image_url) 
			div(class="card-body")
				p(class="intro-cards__name card-text") #{name}
				p(class="intro-cards__category card-text") #{category}
				div(class="intro-cards-btm")
					div(class="intro-cards__rate")
						svg(class="svg-star-icon")
							use(xlink:href="#svg-star-icon")
						svg(class="svg-star-icon")
							use(xlink:href="#svg-star-icon")
						svg(class="svg-star-icon")
							use(xlink:href="#svg-star-icon")
						svg(class="svg-star-icon")
							use(xlink:href="#svg-star-icon")
						svg(class="svg-star-icon")
							use(xlink:href="#svg-star-icon")
					p(class="intro-cards__test") #{testimonials}
